
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Kdam Thmor Pro", serif;
}

.kdam-thmor-pro-regular {
    font-family: "Kdam Thmor Pro", serif;
    font-weight: 400;
    font-style: normal;
  }

:root{
    --background: #000430;
    --secondarybackground: #171c48;
    --text: #fff;
    --purple: #828dff;
    --teal: #24f333;
}

body{
    background-color: var(--background);
    color: var(--text);
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 120px auto 0 auto;
    max-width: 500px;
}

.screen-stats{
    padding: 30px;
    border-radius: 10px;
    border: 2px solid var(--purple);
    display: flex;
    gap: 50px;
    width: 100%;
    justify-content: space-between;
}

#numbers{
    height: 100px;
    width: 100px;
    background-color: var(--purple);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 25px;
}

.bar-details{
    width: 100%;
}

#progress{
    width: 0%;
    background-color: var(--purple);
    height: 10px;
    border-radius: 20px;
    transition: all 0.3s ease;
}

#progressBar{
    width: 100%;
    height: 10px;
    background-color: var(--secondarybackground );
    margin-top: 20px;
    border-radius: 20px;
}

form{
    margin-top: 60px;
    width: 100%;
    display: flex;
    gap: 10px;
}

input{
    padding: 16px;
    flex: 1;
    background: var(--secondarybackground);
    border: 1px solid var(--purple);
    border-radius: 10px;
    outline: none;
    color: var(--text);
}

button{
    pad: 16px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    background: var(--purple);
    color: var(--text);
    outline: none;
}

.taskItem{
    display: flex;
    background: var(--secondarybackground);
}

